@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4" style="font-weight: bold;">Biblioteca Anáhuac</h1>
    <br />
    <br />
    <img src="https://www.anahuac.mx/mexico/sites/default/files/inline-images/logo.png" style="height:150px; width:500px;"/>
</div>
